*.class

# Log file
*.log
*.idea
**/classes/**
**/target/*
.classpath
.project
**/.jazzignore
.settings/
**/rebel.xml
**/test/**
**/BuildRelease/*
**/.gradle/**
*.iml
**/.idea/**
**/build/**
**/.DS_Store